body {
    color: hsl(0, 0%, 0%);
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(231, 35%, 62%);
}

.name {
    text-align: center;
    font-size: 4rem;
}

.projects-title {
    text-align: center;
}

.projects, .education  {
    display: flex;
    gap: 5rem;
    width: 90%;
    margin: auto;
}

.education{
    width: 70%;
    gap: 3rem;
}

.project {
    text-align: center;
    background-color: hsl(231, 35%, 62%);
    color: hsl(0, 0%, 100%);
    padding: 1rem;
}